/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }


  body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* background: #FFFFFF; */
    background-image: linear-gradient(#FFFFFF,#e3e6f7);
    background-size: cover;
    background-repeat: no-repeat;

    
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }



  /* Main CSS */

  .titlegrid {
    display: grid;
    position: relative;
    grid-template-rows: 1;
    grid-template-columns: repeat(auto-fit, minmax(375px,1fr));
  }

  .title{
    position:inherit;
    display: grid;
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 15rem;
  }

  .title h1 {
    line-height: 3rem;
  }
  .title p{
    color: #83869A;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .mainimage{
    z-index: -1;
    position: relative;
    top: -100px;
  }

  .cards {
    margin-top: 2rem;
    display: grid;
    position:relative;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* grid-template-columns:auto fit-content(350px) auto; */
    /* border: 3px solid red; */
    grid-gap: 3.5rem 0.5rem;
    justify-items: center;
    align-items: center;
    
    
  }


  .card {
    position:inherit;
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
    height: 346px;
    background: white;

    /* border: 3px solid blue; */
    border-radius: 15px;
    
    padding: 4rem 2rem 2rem 1rem;
  }
/* 
  .one, .four {
    margin-left: 10.313rem;
  }

  .two, .five{
    margin-left: 4.875rem;
    margin-right: 1.875rem;
  }

  .three, .six {
    margin-right: 15.313rem;
  } */

  .card h3{
    color: #13183F;
    
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .description{
    color:#83869A;
    font-size: 1.125rem;
  }
  .card-started {
    color: #F74780;
    font-size: 1.125rem;
    position: relative;
    top: 50%;
    text-decoration: none;
  }
  .one p{
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
  }

  .one {
    background-image:linear-gradient(#FF6F48,#F02AA6);
  }
  svg{
    position: absolute;
    overflow: visible;
    bottom: 19.6rem;
    left: 2rem;
  }

  footer, header {
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr;

    background-image: none;
    justify-items: center;
    align-items: center;
  }

  footer h3, header h3 {
    position: relative;
    right: 10%;
  }
  header{
    margin-top: 1.73rem;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    font-weight: 800;
    height: 7.5rem;
    background: #13183F;
    margin-top: 8.75rem;
  }

  .get-button {
    border-radius: 1.969rem;
    height: 3.938rem;
    width: 10.438rem;
    border: none;

  }

  button{
    transition-duration: 0.4s;
  }

  .topheader {
    background: #13183F;
    color:white;
  }
  .topheader:hover {

    background: #666CA3;

  }
  .midtitle{
    background:linear-gradient(#FF6F48 ,#F02AA6);
    color: white;
  }

  .midtitle:hover{
    opacity: .6;
  }


  .botfooter{
    background-image: linear-gradient(#4851FF,#F02AA6);
    color:white;
  }
  .botfooter:hover {
    opacity: .6;
  }

  a:hover{
    opacity: .6;
  }


  @media (max-width: 425px) {
    .titlegrid{
      justify-items: center;
      align-items: center;
      
      width: 100%;
    }
    .title{
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .mainimage{
      position: relative;
      top: 10px;
    }

   
  }

  @media (max-width: 768px) {
    .titlegrid{
      justify-items: center;
      align-items: center;
      padding-bottom: 5rem;
      width: 100%;
    }
    .title{
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .mainimage{
      position: relative;
      top: 10px;
    }
 
    
   
  }

  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr
    }
    .mainimage{
      right: -10rem;
      top: -10rem;
    }
  }

